* {
  box-sizing: border-box;
}

@font-face {
  font-family: "dunballTallBold";
  src: url("../assets/DunbarTall-Bold.ttf");
}
@font-face {
  font-family: "duballLight";
  src: url("../assets/DunbarText-Regular.ttf");
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.container .signContainer {
  width: 250px;
  height: 150px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  border: solid 0.5px gray;
  background: linear-gradient(135deg, #ffffff 0%, #f2f2f2 100%);
}
.container .signContainer .signOne {
  width: 115px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .signContainer .signOne .logo {
  width: 90px;
}
.container .signContainer .signOne .name {
  width: 95px;
}
.container .signContainer .line {
  width: 1.2px;
  height: 100px;
  background-color: #fb580c;
}
.container .signContainer .signTwo {
  width: 134px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .signContainer .signTwo .infoContainer {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.container .signContainer .signTwo .infoContainer .infoOne {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: -5px;
}
.container .signContainer .signTwo .infoContainer .infoOne .titleContainer {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.container .signContainer .signTwo .infoContainer .infoOne .titleContainer .title {
  width: 100%;
  font-family: "dunballTallBold";
  color: #fb580c;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 13px;
  margin: 0px;
  line-height: 1;
  width: 100%;
  transform: translateY(-20px);
  transition: all 1s;
}
.container .signContainer .signTwo .infoContainer .infoOne .pronounContainer {
  height: auto;
  overflow: hidden;
}
.container .signContainer .signTwo .infoContainer .infoOne .pronounContainer .pronoun {
  font-family: "duballLight";
  font-size: 8px;
  line-height: 1;
  margin: 0px;
  transform: translateY(-20px);
  transition: all 1s;
}
.container .signContainer .signTwo .infoContainer .infoOne .positionContainer {
  height: auto;
  overflow: hidden;
}
.container .signContainer .signTwo .infoContainer .infoOne .positionContainer .position {
  font-family: "dunballTallBold";
  font-size: 10px;
  line-height: 1;
  margin: 0px;
  transform: translateY(-20px);
  transition: all 1s;
}
.container .signContainer .signTwo .infoContainer .infoTwo {
  width: 100%;
  height: 58px;
}
.container .signContainer .signTwo .infoContainer .infoTwo .phoneContainer,
.container .signContainer .signTwo .infoContainer .infoTwo .webContainer,
.container .signContainer .signTwo .infoContainer .infoTwo .mailContainer,
.container .signContainer .signTwo .infoContainer .infoTwo .ubiContainer {
  height: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container .signContainer .signTwo .infoContainer .infoTwo .phoneContainer .icon,
.container .signContainer .signTwo .infoContainer .infoTwo .webContainer .icon,
.container .signContainer .signTwo .infoContainer .infoTwo .mailContainer .icon,
.container .signContainer .signTwo .infoContainer .infoTwo .ubiContainer .icon {
  opacity: 0;
  transition: all 1s;
}
.container .signContainer .signTwo .infoContainer .infoTwo .phoneContainer p,
.container .signContainer .signTwo .infoContainer .infoTwo .webContainer p,
.container .signContainer .signTwo .infoContainer .infoTwo .mailContainer p,
.container .signContainer .signTwo .infoContainer .infoTwo .ubiContainer p {
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 5px;
}
.container .signContainer .signTwo .infoContainer .infoTwo .phoneContainer .phone,
.container .signContainer .signTwo .infoContainer .infoTwo .webContainer .phone,
.container .signContainer .signTwo .infoContainer .infoTwo .mailContainer .phone,
.container .signContainer .signTwo .infoContainer .infoTwo .ubiContainer .phone {
  font-size: 8px;
  font-weight: 540;
}
.container .signContainer .signTwo .infoContainer .infoTwo .phoneContainer .web,
.container .signContainer .signTwo .infoContainer .infoTwo .webContainer .web,
.container .signContainer .signTwo .infoContainer .infoTwo .mailContainer .web,
.container .signContainer .signTwo .infoContainer .infoTwo .ubiContainer .web {
  font-size: 7px;
  text-decoration: underline;
  text-underline-offset: 1px;
  font-weight: 540;
}
.container .signContainer .signTwo .infoContainer .infoTwo .phoneContainer .mail,
.container .signContainer .signTwo .infoContainer .infoTwo .webContainer .mail,
.container .signContainer .signTwo .infoContainer .infoTwo .mailContainer .mail,
.container .signContainer .signTwo .infoContainer .infoTwo .ubiContainer .mail {
  font-size: 7px;
  font-weight: 540;
}
.container .signContainer .signTwo .infoContainer .infoTwo .phoneContainer .ubiTextContainer,
.container .signContainer .signTwo .infoContainer .infoTwo .webContainer .ubiTextContainer,
.container .signContainer .signTwo .infoContainer .infoTwo .mailContainer .ubiTextContainer,
.container .signContainer .signTwo .infoContainer .infoTwo .ubiContainer .ubiTextContainer {
  margin-left: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .signContainer .signTwo .infoContainer .infoTwo .phoneContainer .ubiTextContainer p,
.container .signContainer .signTwo .infoContainer .infoTwo .webContainer .ubiTextContainer p,
.container .signContainer .signTwo .infoContainer .infoTwo .mailContainer .ubiTextContainer p,
.container .signContainer .signTwo .infoContainer .infoTwo .ubiContainer .ubiTextContainer p {
  font-weight: 540;
  font-size: 5.3px;
  margin: 0px;
}
.container button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid 1px gray;
  color: gray;
  cursor: pointer;
  transition: all 0.5s;
}
.container button:hover {
  background-color: rgb(122, 122, 122);
  color: white;
  border: solid 1px rgb(56, 56, 56);
}
.container button i {
  transform: translateX(1px);
}

/*# sourceMappingURL=styles.css.map */
