$orange: #fb580c;
$fontDunballBold: "dunballTallBold";
$fontDunballLight: "duballLight" ;

*{
  box-sizing: border-box;
}

@font-face {
  font-family: $fontDunballBold;
  src: url("../assets/DunbarTall-Bold.ttf");

}

@font-face {
  font-family: $fontDunballLight;
  src: url("../assets/DunbarText-Regular.ttf");
}
